.mainForm {
   position: relative;
   display: flex;
   width: 75vw;
   max-width: 600px;
   background: hsl(231, 50%, 97%);
   border: 1px solid hsl(231, 20%, 87%);
   transition: all 340ms ease-out;
   border-radius: 10000px;
   box-shadow: 0px 0px 0px -2px hsl(231, 20%, 87%) inset;
}

.mainInput {
   position: relative;
   display: grid;
   place-items: center;
   width: 100%;
   z-index: 100;
}

.mainInput > input {
   grid-area: 1 / 1;
}

.mainInput > input[type="submit"] {
   position: relative;
   z-index: -1;
   opacity: 0;
}

.mainInput > input[disabled] {
   position: relative;
   color:#ccc;
}

.mainForm:focus-within {
   border-color: hsl(231, 20%, 80%);
   box-shadow: 0px 0px 5px -2px hsl(231, 20%, 80%) inset;
}

.mainForm input {
   width: 100%;
   font-size: 18pt;
   padding: .8em 1em;
   border: none;
   background: none;
   color: hsl(231, 13%, 28%);
   position: relative;
}

.mainForm input::selection {
   background: hsl(231, 20%, 88%);
}

.mainForm input:focus {
   outline: none;
}

.mainForm button {
   border: none;
   padding-inline: 18px;
   display: grid;
   border-radius: 10000px;
   place-items: center;
   background: none;
   cursor: pointer;
   transition: transform 120ms ease-out;
   z-index: 1000;
   background: hsl(231, 50%, 97%);
}

.mainForm button:active {
   transform: scale(.85);
}

.buttons {
   position: absolute;
   padding-left: 8px;
   display: flex;
   align-items: center;
   inset: 0;
}

.buttons button {
   height: 50px;
   width: 50px;
   padding: 0;
   position: absolute;
   border: 1px solid hsl(231, 20%, 87%);
}

.buttons button img {
   height: 25px;
   width: 25px;
}